*{
    box-sizing: border-box;
}
:root{
    --hoverTextColor: rgba(105, 7, 82, 0.897);
    --textcolor :  rgba(19, 21, 21, 0.555);
}
body{
    margin: 0;
    padding: 0;
    width:  100%;
    color: var(--textcolor);

}
img{
    width:  153%;
}
.header{
    height: 78px;
     outline: 1px solid rgba(185, 184, 185, 0.889);
    padding: 0px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}
.headerleft,
.headerRight{
    display: flex;
    align-items: center;
}
.logoContainer{
    width: 155px;
}

.searchInputContainer{
    width: 348px;
    height: 28px;
    outline: 1px solid rgba(185, 184, 185, 0.889);
    display: flex;
    margin-left: 167px;
    border-radius: 3px;
    padding: 8px;
    align-items: center;
    position: relative;

    }
.searchIcon{
    width: 14px;
}
form{
    width: 100%;
}
.inputSearch{
    width: 93%;
    border: none;
    outline: none;
    font-size: 15px;
}
#closesearch{
        display: none;
}
.searchRecentModel{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 29px;
     outline: 1px solid rgba(185, 184, 185, 0.889); 
    height: 350px;
    width: 93%;
    margin-top: 28px;
    display: none;
    padding: 15px;
    /* box-shadow: 0px 0px 5px rgba(185, 184, 185, 0.889); */
    color: rgba(37, 36, 36, 0.779);
    


}
.searchInputContainer:focus-within .searchRecentModel{
    display: block;
}
.recentIcon{
    width: 16px;
    margin-right: 20px;
}
.recentItem{
    display: flex;
    align-items: center;
}

/* right */
.mobileIcon{
    width: 15px ;
    margin: 5px;
    margin-top: 12px;
}
.downloadContainer{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 50px;
    margin-left: 30px;
    font-size: 19px;
    position: relative;
    padding:0px 30px;
    
    border-right: 1.5px solid rgba(185, 184, 185, 0.889);
   
    color: rgba(37, 36, 36, 0.779);
    
}
.downloadContainer:hover{
    color: var(--hoverTextColor);
    cursor: pointer;
}
.downlaodBtn{
    display: block;
    width: 90px;
    margin-top:5px;
    color: var(--textcolor);
}
.downloadHoverBtnContainer{
    position: absolute;
    bottom: 0;
    top: 80px;
    display: none;
    height: 197px;
    box-shadow: 0px 0px 19px rgba(185, 184, 185, 0.889);
    width: 109%;
    padding: 10px;
    margin-left: -30px;
    color: var(--textcolor);
    background-color: white;
    
}
.downloadContainer:hover .downloadHoverBtnContainer{
    display: block;
    color:rgba(37, 36, 36, 0.779);

}

.profileAndCart {
    display: flex;
    align-items: center;
    color: rgba(37, 36, 36, 0.779); 
}
.profileIcon,.CartIcon{
    width: 15px;
    align-items: center;
   
}
.profileAndCart:hover,
.profileAndCart:focus{
    color: var(--hoverTextColor);
    cursor: pointer;

}

.profileAndCart{
    margin: 0;
    padding:0;
    
}
.profileContainer,
.CartContainer p{
    padding:0px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:rgba(37, 36, 36, 0.779);

}
.BecomeSupplierConatiner p{
    padding:0px 30px;
    border-left: 1.5px solid rgba(185, 184, 185, 0.889);
    border-right: 1.5px solid rgba(185, 184, 185, 0.889);
    color:rgba(37, 36, 36, 0.779);
    font-size: 19px;
}
/* .BecomeSupplierConatiner:hover{
    color: var(--hoverTextColor);
    cursor: pointer;
} */
.NewsroomContainer {
    padding:0px 30px;
    border-left: 1.5px solid rgba(185, 184, 185, 0.889);
    border-right: 1.5px solid rgba(185, 184, 185, 0.889);
    color: rgba(37, 36, 36, 0.779);
    font-size: 19px;
}

/** navigation css**/
nav{
    width: 100%;
    color: rgba(37, 36, 36, 0.779);
    border-bottom: 1px solid  rgba(185, 184, 185, 0.889);
    height: 54px;
    
}
nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px ;
    font-size: 18px;
    height: 100%;
    margin: 0;
    position: relative;
}
nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    border-bottom:3px solid transparent ;
    cursor: pointer;
    
}
nav ul li:hover {
    color: var(--hoverTextColor);
    border-bottom: 4px solid var(--hoverTextColor);
     
} 

/**module box subMenu**/
.subMenu{
    position: absolute;
    /* width: 100%; */
    /* height: 400px; */
    top: 52px;
    left: 0;
    right: 10px;
    background-color: white;
    border: 1px solid rgba(185, 184, 185, 0.889);
    box-sizing: border-box;
    display: none;
    margin: 0px 15px;
    padding: 20px;
}


nav ul li:hover .subMenu{
    display: block;
} 
.subMenu p{
    color: var(--textcolor)
}